<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us15.list-manage.com","uuid":"da2b47df83279126de85b99ca","lid":"5699aebec9"}) })</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% if site.allowsearch ==  true %}
<script src="{{ site.baseurl }}/static/js/super-search.js"></script>
{% endif %}
<script src="{{ site.baseurl }}/static/js/thickbox-compressed.js"></script>
<script src="{{ site.baseurl }}/static/js/material.min.js"></script>
<script src="{{ site.baseurl }}/static/js/main.js"></script>
<script src="{{ site.baseurl }}/static/js/projects.js"></script>
<script src="{{ site.baseurl }}/static/js/prism.js"></script>
<script src="{{ site.baseurl }}/static/js/back-to-top.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<script src="{{ site.baseurl }}/static/js/modernizr.js"></script>
