<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
      <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
      <script type="text/javascript">window.baseurl = '{{ site.url }}';</script>
      {% include css.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    jQuery(window).load(function(){
        jQuery(".hameid-loader-overlay").fadeOut(1500);
    });
</script>
  </head>

  <body class="home overflow-hidden"> <!-- ondragstart="return false" onselectstart="return false" -->
    <div class="hameid-loader-overlay"></div>
    {% include header.html %}
    {% include main.html %}
    {% include js.html %}
    {% include analytics.html %}
<a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>	
  </body>
</html>
